body {
  margin-top: 20px;
  /* margin: 20px 80px; */
  /* font-family: "yu-gothic-pr6n", sans-serif; */
}

.header {
  padding: 0px 80px;
  height: 99px;
  display: flex;
}

.header img {
  width: 214px;
  height: 77px;
}

.header p {
  color: #5b97cf;
  font-size: 30px;
  margin-top: 22px;
  margin-left: 10px;
}

.top {
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  height: 676px;
}

.top_left {
  margin-top: 100px;
}

.top1 {
  font-size: 20px;
  margin-bottom: 80px;
}

.top2 {
  font-size: 35px;
  margin-bottom: 80px;
  font-weight: bold;
  line-height: 2;
}

.top3 {
  font-size: 20px;
  margin-bottom: 80px;
  font-weight: bold;
  line-height: 2;
}

.top_right {
  width: 50%;
  margin-right: 80px;
}

.top_image {
  object-fit: cover;
}

.problem {
  padding: 0px 80px;
  height: 797px;
  background-color: #a7d3f0;
}

.problem1 {
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
  font-weight: bold;
}

.problem2 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}

.problem3 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.ploblem_image {
  margin: auto;
  display: block;
}

.solution {
  padding: 0px 80px;
  height: 797px;
  background-color: #fff;
}

.solution1 {
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
  font-weight: bold;
}

.solution2 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}

.solution3 {
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
  margin-bottom: 100px;
}

.solution_image {
  margin: auto;
  display: block;
}

.mvp {
  padding: 0px 80px;
  height: 828px;
  background-color: #fff;
}

.mvp1 {
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
  font-weight: bold;
}

.mvp2 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}

.mvp3 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
}

.mvp_image {
  margin: auto;
  display: block;
}

.App_design {
  padding: 0px 80px;
  height: 974px;
  background-color: #a7d3f0;
}

.App_design1 {
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
  font-weight: bold;
}

.App_design2 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}

.App_design3 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 100px;
}

.slideshow-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: auto;
  display: block;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade 30s infinite;
  object-fit: contain;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 5s;
}

.slide:nth-child(3) {
  animation-delay: 10s;
}

.slide:nth-child(4) {
  animation-delay: 15s;
}

.slide:nth-child(5) {
  animation-delay: 20s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.flow {
  padding: 0px 80px;
  height: 614px;
  background-color: #fff;
}

.flow1 {
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
  font-weight: bold;
}

.flow2 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}

.flow_image {
  margin-top: 100px;
}

.Technology {
  padding: 0px 80px;
  height: 910px;
  background-color: #fff;
}

.Technology1 {
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
  font-weight: bold;
}

.Technology2 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}

.Technology_image {
  margin-top: 100px;
}

.Technology3 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  line-height: 2;
}

.footer {
  padding: 0px 80px;
  height: 280px;
  background-color: #a7d3f0;
}

.footer1 {
  font-size: 30px;
  padding-top: 80px;
  text-align: center;
  line-height: 2;
}
